.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  background:linear-gradient(-120deg, #D62121, #C72C2C, #3a1111);
  color: white;
}

.btn {
  border-radius: 5px;
  color: white;
  background: none;
  border: 2px solid white;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.btn:hover {
  background: #C72C2C;
  
}